@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.07;
  }
  100% {
    scale: 1;
  }
}

.thanks-section {
  background-image: url(../img/thanks-page/background-1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .thanks-section {
    background-image: url(../img/thanks-page/background-2x.jpg);
  }
}

.thanks-title {
  color: #fff;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -2.1px;

  margin-bottom: 175px;
}

.thanks-title span {
  background: linear-gradient(90deg, #eaa800 0%, #ffeb80 50%, #eaa800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.go-telegram {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 105%; /* 16.8px */
  letter-spacing: -0.32px;

  max-width: 205px;

  margin-bottom: 20px;
}

.go-telegram-arrows {
  margin-bottom: 40px;
}

.thanks-telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  text-transform: uppercase;

  border-radius: 70px;
  background: linear-gradient(90deg, #3e75e5 0%, #62a1ff 50%, #3e75e5 100%);

  animation: pulseScale 2000ms infinite;
}
